*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: white;
    font-family: "Plain Light";
}
html, body{
    height: 100%;
    width: 100%;
}
.crsr{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    border: 1px solid #fff;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);

}
#loader{
    z-index: 9;
    height: 100%;
    width: 100%;
    background-color: #030303;
    position: fixed;
    padding: 22.5vh 7.5vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw ;
}
#line1-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vw;
}
#line1-part1 h5 ,#line1-part1 h6{
    font-size: 3vw;
    font-family: 'silk serif';
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    /* background-color: red; */
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    /* animation-name: anime; */
    opacity: 0;
    animation-duration: 1.9s;;
    animation-iteration-count: infinite;

}

@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }

    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
    
}

#main{
    display: relative;
    background-color: #030303;
}
/* #0B0B0B */
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 7vw;
}

#nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
#nav-part2 h2{
    font-size: 1vw;
    font-weight: 500;
}
.hero{
    /* background-color: red; */
    width: 71%;
    margin-left: 28%;
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    z-index: 9999;
    /* justify-content: center; */
}
.hero:nth-child(2){
    margin-top: 16vh;
}
.hero h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 600;
    
}
#hero3 h2{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 600;
    
}
#hero3 h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
}
